// Colors
$primario: #e6e6e6;
$secundario: darkgrey;
$black: black;
$white: white;
$border: grey;
$boton-contacto:blue;
$text-color: black;

// Font-family
$font-principal: 'Roboto-black', arial, sans-serif, italic;
$font-title: 'NotoSans-ThinItalic', arial, sans-serif, italic;
