/*-----ESTILO GENERAL-----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto-black';
    src: url('../assets/font/Roboto-black.ttf');
}

@font-face {
    font-family: 'NotoSans-ThinItalic';
    src: url('../assets/font/NotoSans-ThinItalic.ttf');
}

html {
    font-size: 62.5%;
    font-family: 'Roboto-black', sans-serif;
}

body {
    background-color: #e6e6e6;
    padding: 10.2rem 0rem 0 0rem;
}

#container {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-rows: auto;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*---ESTILOS HEADER---*/
/*-- se aplico flex y box modeling --*/
.header {
    background-color: white;
    height: 10.2rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.nav a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.logo {
    height: 10rem;
    padding: 0 2rem;
}

.menu {
    flex-direction: column;
    margin-right: 1rem;
    left: -100%;
    top: 10.2rem;
    width: 100%;
    list-style: none;
    background-color: white;
    position: fixed;
    text-align: center;
    transition: all .5s;
}

.menu_item {
    display: block;
    font-size: 2rem;
    margin: 0;
    padding: 1rem;
    text-transform: uppercase;
    border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    line-height: 3rem;
}

li a:hover,
li a.active {
    background: none;
    color: rgb(187, 243, 187);
}

.menu_item:hover {
    background-color: darkgray;
    transition: 0.5s ease all;
}

.checkbtn {
    color: black;
    background-color: white;
    font-size: 6rem;
    border: none;
    padding: 2rem 2rem 1rem 2rem;
    display: block;
    margin-right: 1rem;
    border-radius: 1.5rem;
}

.checkbtn:hover {
    background-color: darkgray;
}

.checkbtn {
    display: block;
}

#menu_boton {
    display: none;
}

#menu_boton:checked~ul {
    left: 0;
}

header label:hover {
    cursor: pointer;
    float: right;
    background-color: darkgray;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*---ESTILO SECTION---*/
h1 {
    text-align: center;
    margin: 5rem auto;
    font-family: 'NotoSans-ThinItalic'arial, sans-serif, italic;
    font-size: 4rem;
    font-weight: bold;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*---ESTILO MAIN---*/
/*-- se aplico box-modeling--*/
.info_img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.pres {
    width: 100%;
}

.info_text {
    display: flex;
    flex-direction: column;
}
.info_text--descripcion {
    border: solid 1rem grey;
    border-radius: 3rem;
    width: 90%;
    height: auto;
    margin: 2rem auto ;
    text-align: left;
    padding: 2rem 4rem 2rem 4rem;
    font-family: 'Roboto-black', sans-serif;
    font-size: 2.5rem;
}

.info_text--diseños {
    border: solid 1rem grey;
    border-radius: 3rem;
    width: 90%;
    height: auto;
    margin: 2rem auto;
    text-align: left;
    align-content: center;
    padding: 2rem 4rem 2rem 4rem;
    font-family: 'Roboto-black', sans-serif;
    font-size: 2.5rem;
}

/*-------------------------------*/
/* estilos magin.html */
/* estilos magin.html section */
h2 {
    text-align: center;
    margin: 4rem auto;
    font-family: 'NotoSans-ThinItalic'arial, sans-serif;
    font-size: 4rem;
    letter-spacing: 1rem;
    font-weight: bold;
}

/* estilos magin.html main */
/*-- se aplico grid --*/
.grid_descripcion {
    margin: auto;
    padding: 2rem;
    display: grid;
    grid-template-rows: repeat(6, 38rem);
    width: auto;
    gap: 2rem;
    grid-area:
        "nosotros_par"
        "nosotros_img"
        "objetivos_par"
        "objetivos_img"
        "vision_par"
        "vision_img"
    ;
}

.nosotros_par {
    border-radius: 2rem;
    background-color: white;
    border: solid 6px darkgray;
}

.nosotros_img {
    border-radius: 2rem;
    padding: 2rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    border: solid 6px darkgray;
}

.objetivos_par {
    border-radius: 2rem;
    background-color: white;
    border: solid 6px darkgray;
}

.objetivos_img {
    border-radius: 2rem;
    padding: 2rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    border: solid 6px darkgray;
}

.vision_par {
    border-radius: 2rem;
    background-color: white;
    border: solid 6px darkgray;
}

.vision_img {
    border-radius: 2rem;
    padding: 2rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    border: solid 6px darkgray;
}

.titulo {
    padding: 3rem;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    display: inline-block;
}

.descripcion_parrafo {
    padding: 0 3rem 3rem 3rem;
    width: 100%;
    font-size: 1.5rem;
    line-height: rem;
    text-align: left;
}

.descripcion_imagen {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*---------------------------------*/

/*---------------------------------*/
/* estilos servicios.html */
/* estilos servicios.html section */
h2 {
    text-align: center;
    margin: 4rem auto;
    font-family: 'NotoSans-ThinItalic'arial, sans-serif;
    font-size: 4rem;
    letter-spacing: 1rem;
    font-weight: bold;
}

.serv_par {
    padding: 4rem;
    margin: 0 auto;
    width: auto;
    max-width: 1200px;
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
    text-align: left;
}

.ejemplos {
    margin: auto;
    padding: 2rem;
    display: grid;
    grid-template-rows: repeat(10, auto);
    height: auto;
    gap: 2rem;
    grid-area:
        "ejemplos_1"
        "ejemplos_2"
        "ejemplos_3"
        "ejemplos_4"
        "ejemplos_5"
        "ejemplos_6"
        "ejemplos_7"
        "ejemplos_8"
        "ejemplos_9"
        "ejemplos_10"
    ;
}

h3 {
    text-align: left;
    margin: 2rem auto;
    font-family: 'NotoSans-ThinItalic'arial, sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

#serv {
    padding: 4rem;
    margin: 0 auto;
    width: auto;
    max-width: 1200px;
    text-align: center;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: left;
}

.serv_item {
    padding: 0.5rem;
    width: auto;
    margin: 0 auto;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: left;
    color: black;
}

.serv_menu {
padding: 0 2rem;

}

main ul li a:hover,
main ul li a.active {
    background: white;
    color: red;
    transition: 0.5s ease all;
}

.serv_item a {
    text-decoration: none;
    color: black;
}

.ejemplos>* {
    border-radius: 2rem;
    padding: 2rem;
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: auto;
    border: solid 6px darkgray;
}

.title_her {
    padding: 0 1rem 1rem 1rem;
    text-align: left;
    font-family: 'NotoSans-ThinItalic'arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

#carac {
    display: none;
    padding: 4rem;
    margin: 0 auto;
    width: auto;
    /* max-width: 1200px; */
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
    text-align: left;
}

.tabla {
    margin: 1rem 0 1rem 0;
    padding: 2rem;
    width: auto;
    /* max-width: 1200px; */
    font-size: 2rem;
    line-height: 2rem;
    text-align: left;
}

/*---------------------------------*/


/*---------------------------------*/
/* estilos ubicacion.html */

/* estilos ubicacion.html main */
.img_ubicacion {
    margin: 0 auto 4rem auto;
    border: 0;
    text-align: center;
    width: 80%;
    border: 2px solid black;
}

/*---------------------------------*/

/*---------------------------------*/
/* estilos contacto.html */

/* estilos contacto.html section */
.contacto {
    text-align: center;
    margin: 11rem auto;
    font-family: 'NotoSans-ThinItalic'arial, sans-serif;
    font-size: 4rem;
    letter-spacing: 1rem;
    font-weight: bold;
}

/* estilos contacto.html main */
.respuesta {
    border-style: none;
    position: relative;
    margin: auto;
    padding: 2rem;
    width: 100%;
    background-color: #e6e6e6;
    text-align: center;
}

.campo_form {
    padding: 1rem;
    font-family: 'NotoSans-ThinItalic'arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.dato_form {
    position: relative;
    margin: 1rem;
    width: 96%;
    text-align: center;
    padding: 1rem;
    font-family: 'NotoSans-ThinItalic'arial, sans-serif;
    font-size: 2rem;
    border-style: none;
    border-radius: 1rem;
}

.interes {
    display: none;
    position: relative;
    padding: 2rem 1rem 2rem 1rem;
}

.campo_form--interes {
    font-family: 'NotoSans-ThinItalic'arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.check {
    text-align: left;
    width: 2rem;
    height: 2rem;
}

.botones {
    text-align: center;
}

.boton {
    margin: 1rem 3rem 1rem 3rem;
    padding: 1rem;
    font-family: 'NotoSans-ThinItalic'arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    width: 20rem;
    height: auto;
    border-radius: 1rem;
    background-color: darkgray;
}

/*---------------------------------*/


/*---------------------------------*/
/* estilos respuesta.html header */
.logo_din--respuesta {
    width: 30rem;
    left: 50%;
    position: relative;
    top: 0rem;
    transform: translate(-50%, 0%);
}

/* estilos respuesta.html section */
.mensaje1 {
    margin: 6rem auto;
    padding: 2rem 3rem;
    text-align: center;
    font-family: 'Roboto-black', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

.mensaje2 {
    margin: auto;
    padding: 1rem 8rem 8rem 8rem;
    text-align: center;
    font-family: 'Roboto-black', sans-serif;
    font-size: 2rem;
}

/*---------------------------------*/

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*---ESTILO FOOTER---*/
/*-- se aplico flex --*/
footer {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer_conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer_logo {
    display: none;
}

.footer_social {
    margin: 3rem auto;
}

.footer_datos {
    margin: 1rem auto;
    right: 0;
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem 2rem 0 2rem;
    text-align: left;
}

.social_logo {
    height: 7rem;
    padding: 0.5rem;
}

.social_item {
    display: inline-block;
    align-items: center;
}

.whatsapp_logo {
    height: 6rem;
    padding: 0;
}

.copy {
    background-color: black;
    width: 100%;
    margin: 0;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    border: solid 1px green;
}

/*------------------------------------------------------------*/


/*-----MEDIA QUERIES-----*/
/*--TABLET--*/
@media screen and (min-width: 768px) {
    body {
        padding: 10rem 0rem 0 0rem;
    }

    h1 {
        text-align: center;
        margin: 7rem auto;
        font-family: 'NotoSans-ThinItalic'arial, sans-serif, italic;
        font-size: 6rem;
        font-weight: bold;
    }

    /*---------------------------------*/

    /*---------------------------------*/
    /* estilos magin.html */
    /* estilos magin.html section */
    h2 {
        font-size: 6rem;
    }

    /* estilos magin.html main */
    .grid_descripcion {
        margin: auto;
        padding: 2rem 4rem 2rem 2rem;
        display: grid;
        grid-template-rows: repeat(3, 35rem);
        grid-template-columns: 50% 50%;
        width: auto;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        gap: 2rem;
        grid-area:
            "nosotros_par   nosotros_img"
            "objetivos_par  objetivos_img"
            "vision_par     vision_img"
        ;
    }

    /*---------------------------------*/

    /*---------------------------------*/
    /* estilos servicios.html */
    /* estilos servicios.html section */

    .ejemplos {
        margin: auto;
        padding: 2rem 4rem 2rem 2rem;
        display: grid;
        grid-template-rows: repeat(5, auto);
        grid-template-columns: 50% 50%;
        height: auto;
        gap: 2rem;
        grid-area:
            "ejemplos_1 ejemplos_2"
            "ejemplos_3 ejemplos_4"
            "ejemplos_5 ejemplos_6"
            "ejemplos_7 ejemplos_8"
            "ejemplos_9 ejemplos_10"
        ;
    }

    h3 {
        font-size: 3.5rem;
    }

    .title_her {
        font-size: 2.5rem;
    }

    #carac {
        display: block;
        padding: 4rem;
        margin: 0 auto;
        width: auto;
        text-align: center;
        font-size: 2rem;
        line-height: 3rem;
        text-align: left;
    }

    .tabla {
        margin: 1rem 0 1rem 0;
        padding: 2rem;
        width: auto;
        font-size: 2rem;
        line-height: 2rem;
        text-align: left;
    }


    /*---------------------------------*/
    /* estilos contacto.html */
    /* estilos contacto.html section */
    .contacto {
        text-align: center;
        margin: 10rem auto;
        font-family: 'NotoSans-ThinItalic'arial, sans-serif;
        font-size: 6rem;
        letter-spacing: 1rem;
        font-weight: bold;
    }

    /*---------------------------------*/


    /*---------------------------------*/
    /* estilos respuesta.html */
    /* estilos respuesta.html section */
    .mensaje1 {
        font-size: 5rem;
    }

    .mensaje2 {
        font-size: 3rem;
    }

    /*---------------------------------*/
}

/*--DESKTOP--*/
@media screen and (min-width:1024px) {
    header label {
        display: none;
    }

    body {
        padding: 14rem 0rem 0 0rem;
    }

    .header {
        height: 14rem;
    }

    .menu {
        top: 14rem;
    }

    .logo {
        height: 14rem;
    }

    .checkbtn {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        margin-right: 2rem;
        justify-content: end;
        align-items: center;
        float: right;
        height: auto;
        padding: 0;
        position: static;
        width: auto;
    }

    .menu_item {
        border: none;
        margin: 0 1rem 0 1rem;
        border-radius: 1.5rem;
    }


    h1 {
        text-align: center;
        margin: 8rem auto;
        font-family: 'NotoSans-ThinItalic'arial, sans-serif, italic;
        font-size: 8rem;
        font-weight: bold;
    }
    .info_text {
        flex-direction: row;
    }

    .info_text--descripcion {
        margin: 2rem ;
    }
    
    .info_text--diseños {
        margin: 2rem;
    }
    


    .footer_logo {
        display: block;
        margin: 0 auto 0 0;
    }

    /*---------------------------------*/
    /* estilos magin.html */
    /* estilos magin.html section */
    h2 {
        font-size: 8rem;
    }

    /*---------------------------------*/

    /*---------------------------------*/
    /* estilos contacto.html */
    /* estilos contacto.html section */
    .contacto {
        margin: 4rem auto;
        font-size: 8rem;
    }

    .respuesta {
        padding: 0 25%;
        text-align: left;
    }

    .campo_form {
        line-height: 6rem;
        font-size: 2.5rem;
    }

    .dato_form {
        text-align: left;
        padding: 2rem;
        border-radius: 1.5rem;
    }

    .interes {
        display: block;
        line-height: 3rem;
    }

    .campo_form--interes {
        line-height: 6rem;
    }

    .boton {
        margin: 3rem 3rem 3rem 3rem;
        font-size: 3rem;
        border-radius: 1.5rem;
    }

    /*---------------------------------*/

    /*---------------------------------*/
    /* estilos respuesta.html */
    /* estilos respuesta.html section */
    .mensaje1 {
        font-size: 5rem;
    }

    .mensaje2 {
        font-size: 3rem;
    }

    /*---------------------------------*/
}