/*-----ESTILO GENERAL-----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto-black';
    src: url('../assets/font/Roboto-black.ttf');
}

@font-face {
    font-family: 'NotoSans-ThinItalic';
    src: url('../assets/font/NotoSans-ThinItalic.ttf');
}

html {
    font-size: 62.5%;
    font-family: 'Roboto-black', sans-serif;
}

body {
    background-color: #e6e6e6;
    padding: 10rem 0rem 0 0rem;
}

#container {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-rows: auto;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*---ESTILOS HEADER---*/
/*-- se aplico flex y box modeling --*/
.header {
    z-index: 100;
    background-color: white;
    height: 10rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.nav a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.logo {
    height: 10rem;
    padding: 0 2rem;
}

.menu {
    flex-direction: column;
    margin-right: 1rem;
    left: -100%;
    top: 10rem;
    width: 100%;
    list-style: none;
    background-color: white;
    position: fixed;
    text-align: center;
    transition: all .5s;
}

.menu_item {
    display: block;
    font-size: 2rem;
    margin: 0;
    padding: 1rem;
    text-transform: uppercase;
    border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    line-height: 3rem;
}

li a:hover,
li a.active {
    background: none;
    color: rgb(187, 243, 187);
}

.menu_item:hover {
    background-color: darkgray;
    transition: 0.5s ease all;
}

.checkbtn {
    color: black;
    background-color: white;
    font-size: 4rem;
    border: none;
    padding: 1rem 2rem 1rem 2rem;
    display: block;
    margin-right: 1rem;
    margin-bottom: 0;
    border-radius: 1.5rem;
}

.checkbtn:hover {
    background-color: darkgray;
}

.checkbtn {
    display: block;
}

#menu_boton {
    display: none;
}

#menu_boton:checked~ul {
    left: 0;
}

header label:hover {
    cursor: pointer;
    float: right;
    background-color: darkgray;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*---ESTILO SECTION---*/
h1 {
    text-align: center;
    margin: 5rem auto;
    font-family: 'NotoSans-ThinItalic'arial, sans-serif, italic;
    font-size: 4rem;
    font-weight: bold;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*---ESTILO MAIN---*/
/*--mod estilo main de bootstrap--*/
.info_img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.pres {
    width: 100%;
}

.row {
    margin: 2rem auto;
}

.info_text--descripcion {
    border: solid 1rem grey;
    background-color: white;
    border-radius: 2rem;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 2rem 4rem 2rem 4rem;
    font-family: 'Roboto-black', sans-serif;
    font-size: 2.5rem;
    box-shadow: 0 10px 10px black;
}

/*-------------------------------*/
/* estilos magin.html */
/* estilos magin.html section */
h2 {
    text-align: center;
    margin: 4rem auto;
    font-family: 'NotoSans-ThinItalic'arial, sans-serif;
    font-size: 4rem;
    letter-spacing: 1rem;
    font-weight: bold;
}

/* estilos magin.html main */
/*--mod estilo main de bootstrap--*/
.parrafo {
    padding: 2rem 4rem 2rem 4rem;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    background-color: white;
    border: solid 1rem darkgray;
    box-shadow: 0 10px 10px black;
}

.imagen {
    padding: 2rem 4rem 2rem 4rem;
    border-radius: 2rem;
    background-color: white;
    width: 100%;
    height: 100%;
    border: solid 1rem darkgray;
    box-shadow: 0 10px 10px black;
}

.titulo {
    padding: 3rem;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
}

.descripcion_parrafo {
    font-size: 2rem;
}

/*---------------------------------*/
/* estilos servicios.html */
/* estilos servicios.html section */
h2 {
    text-align: center;
    margin: 4rem auto;
    font-family: 'NotoSans-ThinItalic'arial, sans-serif;
    font-size: 4rem;
    letter-spacing: 1rem;
    font-weight: bold;
}

/* estilos servicios.html main */
/*-- se aplico grid --*/
.serv_par {
    padding: 4rem;
    margin: 0 auto;
    width: auto;
    max-width: 1200px;
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
    text-align: left;
}

.ejemplos {
    margin: auto;
    padding: 2rem;
    display: grid;
    grid-template-rows: repeat(10, auto);
    height: auto;
    gap: 2rem;
    grid-area:
        "ejemplos_1"
        "ejemplos_2"
        "ejemplos_3"
        "ejemplos_4"
        "ejemplos_5"
        "ejemplos_6"
        "ejemplos_7"
        "ejemplos_8"
        "ejemplos_9"
        "ejemplos_10"
    ;
}

h3 {
    text-align: center;
    margin: 2rem auto;
    font-family: 'NotoSans-ThinItalic'arial, sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

#serv {
    padding: 4rem;
    margin: 0 auto;
    width: auto;
    max-width: 1200px;
    text-align: center;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: left;
}

.serv_item {
    padding: 0.5rem;
    width: auto;
    margin: 0 auto;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: left;
    color: black;
}

.serv_menu {
    padding: 0;
    list-style: none;
}

main ul li a:hover,
main ul li a.active {
    border: solid 1px black;
    background: white;
    color: red;
    transition: 0.5s ease all;
    transform: scale(1.2, 1.2);
    box-shadow: 0 10px 10px black;
}

.serv_item a {
    text-decoration: none;
    color: black;
}

.ejemplos>* {
    border-radius: 2rem;
    padding: 2rem;
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: auto;
    border: solid 1rem darkgray;
    box-shadow: 0 10px 10px black;
}

.title_her {
    padding: 0 1rem 1rem 1rem;
    text-align: left;
    font-family: 'NotoSans-ThinItalic'arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

/*--mod estilo tabla de bootstrap--*/
#carac {
    display: none;
    padding: 2rem;
    margin: 0 auto;
    font-size: 2rem;
    line-height: 2rem;
}

.table thead th {
    vertical-align: top;
}

.table {
    border: solid 1rem gray;
    background-color: white;
    box-shadow: 0 10px 10px black;
}

.table .thead-light th {
    background-color: darkgray;
}


/*---------------------------------*/
/* estilos ubicacion.html */

/* estilos ubicacion.html main */
/*--mod estilo de bootstrap--*/
.img_ubicacion {
    background-color: white;
    border: solid 1rem gray;
    box-shadow: 0 10px 10px black;
    border-radius: 2rem;
}

.carousel {
    background-color: white;
    border: solid 1rem gray;
    box-shadow: 0 10px 10px black;
    border-radius: 2rem;
}

.carousel-control-prev-icon {
    height: 6rem;
    border-radius: 1.5rem;
    background-color: crimson;
}

.carousel-control-next-icon {
    height: 6rem;
    border-radius: 1.5rem;
    background-color: crimson;
}

/*---------------------------------*/
/* estilos contacto.html */
/* estilos contacto.html section */
.contacto {
    text-align: center;
    margin: 4rem auto;
    font-family: 'NotoSans-ThinItalic'arial, sans-serif;
    font-size: 4rem;
    letter-spacing: 1rem;
    font-weight: bold;
}

/* estilos contacto.html main */
/*--mod estilo formulario de bootstrap--*/
.aparecer {
    animation-duration: 10s;
    animation-name: aparecer;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.hoja {
    border: solid 1rem grey;
    border-radius: 2rem;
    background-color: darkgrey;
    padding: 2rem;
    margin-bottom: 4rem;
    box-shadow: 0 10px 10px black;
}

.form-group {
    text-align: center;
    padding: 1rem;
    font-family: 'NotoSans-ThinItalic'arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.form-control {
    text-align: start;
    padding: 1rem;
    font-family: 'NotoSans-ThinItalic'arial, sans-serif;
    font-size: 2rem;
    border-radius: 1rem;
}

.linea_boton {
    display: flex;
    justify-content: space-around;
    margin: 3rem 0 1rem 0;
}

.btn-boton {
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem;
    font-family: 'NotoSans-ThinItalic'arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 1rem;
    border: solid 0.5rem blue;
    background: white;
    color: blue;
}

.btn:hover {
    background: blue;
    color: white;
    transition: 0.5s ease all;
    transform: scale(1.2, 1.2);
    box-shadow: 0 10px 10px black;
}

/*---------------------------------*/
/* estilos respuesta.html */
/* estilos respuesta.html main */
.logo_din--respuesta {
    width: 20rem;
    left:50%;
    position: relative;
    top: 0rem;
    transform: translate(-50%, 0%);
}

.logo_din--respuesta:hover {
    box-shadow: 0 40px 20px black;
}

.mensaje1 {
    margin: 6rem auto 2rem auto;
    padding: 0 1rem;
    text-align: center;
    font-family: 'Roboto-black', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

.mensaje2 {
    margin: auto;
    padding: 0 8rem 8rem 8rem;
    text-align: center;
    font-family: 'Roboto-black', sans-serif;
    font-size: 2rem;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*---ESTILO FOOTER---*/
/*-- se aplico flex --*/
footer {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer_conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer_logo {
    display: none;
}

.footer_social {
    margin: 2rem auto;
}

.footer_datos {
    margin: 0.5rem auto 0 auto;
    right: 0;
    font-size: 1.75rem;
    line-height: 1.25rem;
    font-weight: bold;
    padding: 0 2rem 0 2rem;
    text-align: left;
}

.social_logo {
    height: 6rem;
    padding: 0.5rem 1rem;
    opacity: 25%;
}

.social_logo:hover {
    opacity: 100%;
}

.social_item {
    display: inline-block;
    align-items: center;
}

.whatsapp_logo {
    height: 5rem;
    padding: 0;
}

.copy {
    background-color: black;
    width: 100%;
    margin: 0;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    border: solid 1px green;
}

/*------------------------------------------------------------*/

/*-----MEDIA QUERIES-----*/
/*--TABLET--*/
@media screen and (min-width: 768px) {
    body {
        padding: 10rem 0rem 0 0rem;
    }

    h1 {
        text-align: center;
        margin: 7rem auto;
        font-family: 'NotoSans-ThinItalic'arial, sans-serif, italic;
        font-size: 6rem;
        font-weight: bold;
    }

    /*---------------------------------*/
    /* estilos magin.html */
    /* estilos magin.html section */
    h2 {
        font-size: 6rem;
    }

    /*---------------------------------*/
    /* estilos servicios.html */
    /* estilos servicios.html section */

    .ejemplos {
        margin: auto;
        padding: 2rem 4rem 2rem 2rem;
        display: grid;
        grid-template-rows: repeat(5, auto);
        grid-template-columns: 50% 50%;
        height: auto;
        gap: 2rem;
        grid-area:
            "ejemplos_1 ejemplos_2"
            "ejemplos_3 ejemplos_4"
            "ejemplos_5 ejemplos_6"
            "ejemplos_7 ejemplos_8"
            "ejemplos_9 ejemplos_10"
        ;
    }

    .izq:hover {
        transition: 1s ease-in all;
        transform: translate(50%, 0) scale(1.5, 1.5);
        box-shadow: 0 10px 10px black;
    }

    .der:hover {
        transition: 1s ease-in all;
        transform: translate(-50%, 0) scale(1.5, 1.5);
        box-shadow: 0 10px 10px black;
    }

    h3 {
        font-size: 3.5rem;
    }

    .title_her {
        font-size: 2.5rem;
    }

    #carac {
        display: block;
        max-width: 1200px;
    }

    /*---------------------------------*/
    /* estilos contacto.html */
    /* estilos contacto.html section */
    .contacto {
        text-align: center;
        font-family: 'NotoSans-ThinItalic'arial, sans-serif;
        font-size: 6rem;
        letter-spacing: 1rem;
        font-weight: bold;
    }

    /*---------------------------------*/
    /* estilos respuesta.html */
    /* estilos respuesta.html main */
    .logo_din--respuesta {
        width: 30rem;
    }

    .mensaje1 {
        margin: 10rem auto 6rem auto;
        padding: 0rem 3rem;
        font-size: 5rem;
    }

    .mensaje2 {
        font-size: 3rem;
    }

}

/*-----MEDIA QUERIES-----*/
/*--DESKTOP--*/
@media screen and (min-width:1024px) {
    header label {
        display: none;
    }

    body {
        padding: 14rem 0rem 0 0rem;
    }

    .header {
        height: 14rem;
    }

    .menu {
        top: 14rem;
    }

    .logo {
        height: 14rem;
    }

    .checkbtn {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        margin-right: 2rem;
        justify-content: end;
        align-items: center;
        float: right;
        height: auto;
        padding: 0;
        position: static;
        width: auto;
    }

    .menu_item {
        border: none;
        margin: 0 1rem 0 1rem;
        border-radius: 1rem;
    }


    h1 {
        text-align: center;
        margin: 8rem auto;
        font-family: 'NotoSans-ThinItalic'arial, sans-serif, italic;
        font-size: 8rem;
        font-weight: bold;
    }


    .footer_logo {
        display: block;
        margin: 0 auto 0 0;
    }

    /*---------------------------------*/
    /* estilos magin.html */
    /* estilos magin.html section */
    h2 {
        font-size: 8rem;
    }

    /*---------------------------------*/
    /* estilos contacto.html */
    /* estilos contacto.html section */
    .contacto {
        margin: 4rem auto;
        font-size: 8rem;
    }

    /*---------------------------------*/
    /* estilos respuesta.html */
    /* estilos respuesta.html section */
    .mensaje1 {
        font-size: 5rem;
    }

    .mensaje2 {
        font-size: 3rem;
    }

}