// ESTILO MAIN
// mod estilo de bootstrap
.b-proyectos {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: url("images/../../img/bg-proyectos.jpg") center / cover;
        opacity: $opacity2;
    }
}

.nota {
    padding: 0 4rem 0rem 4rem;
    margin: 0 auto;
    width: auto;
    max-width: 1400px;
    text-align: center;
    font-size: map-get($font-size, "ssmall");
    line-height: 3rem;
    text-align: left;
}
.galeria {
    padding: 6rem 0;
    .row {
        .carousel {
            @include marco (2rem, 1rem);
            background-color: $white;

            .carousel-control-prev-icon {
                height: 4rem;
                border-radius: 1.5rem;
                background-color: green;
            }

            .carousel-control-next-icon {
                height: 4rem;
                border-radius: 1.5rem;
                background-color: green;
            }
        }
    }
}